*Intall python 2.7
*Install Pip
	sudo apt-get install python-pip
*Install Django
	sudo pip install Django
*Install django-bootstrap 3
	sudo pip install django-bootstrap3

*Install Pytz for using TimeZone
	pip install pytz
