{% extends "leave/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block container %}
<div class="row">
                <div class="col-md-12">
                    <h3>Action History</h3>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Action History</li>
                    </ol>

                    <div class="pull-left">
                        {% if actions.has_other_pages %}
                        {% bootstrap_pagination actions %}
                        {% endif %}
                    </div>

                    <div class="pull-right">
                        <br>
                        <div class="btn-group">
                                <a class="btn btn-default {% if status == 6 %}active{% endif %}" href="{% url 'action_history' '' %}">All</a>
                                <a class="btn btn-default {% if status == 1 %}active{% endif %}" href="{% url 'action_history' 'pending' %}">Approval Pending</a>
                             
                                <a class="btn btn-default {% if status == 3 %}active{% endif %}" href="{% url 'action_history' 'approved' %}">Approved</a>
                                <a class="btn btn-default {% if status == 4 %}active{% endif %}" href="{% url 'action_history' 'rejected' %}">Rejected</a>
                      
                          
                        </div>
                    </div>
                    <div class="clearfix"></div>
 <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Generated Time</th>
                                <th>Type</th>
                                <th>Details</th>
                                <th>Status</th>
                                <th>Action</th>
                            
                               
                            
                            </tr>
                        </thead>
                        <tbody>
                        
                        {% if actions %}
                            {% for action in actions %}
                            <tr>

                                <td>{{ forloop.counter0|add:actions.start_index}} </td>
                                <td>{{ action.time_generated }}</td>
                              
                                <td>{% if action.is_leave %}
                                        Leave Credit/Debit
                                    {% else %}
                                        Details Update
                                    {% endif %}
                                </td>
                                <td>{{ action.note }}</td>
                                <td>{{ action.get_status_display }}</td>
                             
                                <td><a class="btn btn-default btn-xs" href="{% url 'action' action.pk %}"><i class="glyphicon glyphicon-stats"></i> &nbsp;View Details</a></td>
                            
                            </tr>
                            {% endfor %}

                        {% else %}
                        <tr><td colspan="8">No Actions yet.</td></tr>
                        {% endif %}
                        </tbody>
                    </table>
 


{% endblock container %}

{% block script %}
<script >
$(function(){
                $('#action_history').addClass('active');
            });
</script>
{% endblock script %}