{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Application Details - LMS</title>

        <link href="{% static 'leave/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/chosen.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/datepicker3.css' %}" rel="stylesheet">

        <script src="{% static 'leave/js/jquery-1.11.1.min.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .space-15px{
                height: 15px;
                margin:0;
                padding: 0;
                border: 0;
            }
        </style>
    </head>
    <body>
        
        {% if application.status == 1  %}
        <!-- Cancel Application Confirmation -->
        <div class="modal fade" id="cancel-confirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Cancel Application?</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to cancel this application? This action cannot be reverted.
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'cancel_application' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{application.pk}}">

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-ban-circle"></i> Close</button>
                            <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel Application</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    	<nav class="navbar navbar-default" role="navigation">
    	    <div class="navbar-header">
    	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    	            <span class="sr-only">Toggle navigation</span>
    	            <span class="icon-bar"></span>
    	            <span class="icon-bar"></span>
    	            <span class="icon-bar"></span>
    	        </button>
    	        <a class="navbar-brand" href="{% url 'index' %}">Leave Management System</a>
    	    </div>
    	
    	    <div class="collapse navbar-collapse navbar-ex1-collapse">
    	        <ul class="nav navbar-nav">
                    {% if user_type == 1 %}
                    <li><a href="{% url 'dept' %}">Create</a></li>
                    <li><a href="{% url 'sent' '' %}">Sent Applications</a></li>
                    {% else %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    {% endif %}
                </ul>
    	        <ul class="nav navbar-nav navbar-right">
    	            <li class="dropdown">
    	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user_type == 1 %}{{dept}} Dept.{% else %} {{user_display_name}} {% endif %}<b class="caret"></b></a> 
    	                <ul class="dropdown-menu">
    	                    <li class="dropdown-header">{{name}}</li>
    	                    <li><a href="{% url 'logt' %}"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
    	                </ul>
    	            </li>
    	        </ul>
    	    </div>
    	</nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Application Details</h3>
                        </div>
                        {% if messages %}
                        <div class="col-md-6">
                            {% for message in messages %}
                            {% bootstrap_messages message %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Application Details</li>
                    </ol>

                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">Employee Details</th>
                                    </tr>
                                    <tr>
                                        <th style="width:200px;">Employee Name</th>
                                        <td>{{application.employee.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Department</th>
                                        <td>{{application.employee.get_dept_display}}</td>
                                    </tr>
                                     <tr>
                                        <th>Number of leaves left </th>
                                        <td>{{application.employee.leave_balance}}</td>
                                    </tr>
                                    <tr>
                                        <th>Employee Details</th>
                                        <td><a href="#">View Employee Details</a></td>
                                    </tr>
                                </tbody>
                            </table>   
                            <br>
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">Leave Details</th>
                                    </tr>
                                    <tr>
                                        <th>Generated at</th>
                                        <td>{{application.time_generated}}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:200px;">Leave type</th>
                                        <td>{{application.get_leave_type_display}}</td>
                                    </tr>
                                    <tr>
                                        <th>From</th>
                                        <td>{{application.date_from}}</td>
                                    </tr>
                                    <tr>
                                        <th>To</th>
                                        <td>{{application.date_to}}</td>

                                    </tr>
                                    <tr>
                                        <th>Number of days</th>
                                        <td>{{days_count}}</td>

                                    </tr>
                                    <tr>
                                        <th>Reason</th>
                                        <td>{{ application.reason }}</td>
                                    </tr>
                                     <tr>
                                        <th> Attachments </th>
                                        <td>
                                        {% if application.attachment1 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 1</a><br>
                                        {% endif %}
                                        {% if application.attachment2 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 2</a><br>
                                        {% endif %}
                                        {% if application.attachment2 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 3</a><br>
                                        {% endif %}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">Application Status</th>
                                    </tr>
                                    <tr>
                                        <th style="width:200px;">Current Position</th>
                                        <td>{{application.get_current_position_display}}</td>
                                    </tr>                                    
                                    {% if application.time_approved %}
                                    <tr>
                                        <th>Approval Time</th>
                                        <td>{{application.time_approved}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Status</th>
                                        <td>{{application.get_status_display|title}}</td>
                                    </tr>

                                    {% if user_type %}
                                    {% if user_type == 1 and application.status == 1 %}
                                    <tr>
                                        <th>Action</th>
                                        <td>
                                            <a class="btn btn-danger" data-toggle="modal" href='#cancel-confirm'><i class="glyphicon glyphicon-remove"></i> Cancel Application</a>
                                        </td>
                                    </tr>
                                    {% elif user_type == 2 %}
                                    <tr>
                                        <th>Action</th>
                                        <td>
                                            Clerk actions
                                        </td>
                                    </tr>
                                    {% elif 3 <= user_type and user_type <= 6 and application.status == 2 and application.current_position == user_type %}
                                    <tr>
                                        <th>Edit Application before action (optional)</th>
                                        <td>
                                            <div class="form-group">
                                                <label for="edit-from-date">Change From Date</label>
                                                <input type="text" class="form-control" id="edit-from-date" placeholder="Change From Date">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-to-date">Change To Date</label>
                                                <input type="text" class="form-control" id="edit-to-date" placeholder="Change To Date">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-notes">Add Notes</label>
                                                <textarea class="form-control" rows="3" id="edit-notes" placeholder="Add a note (optional)"></textarea>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>    
                                        <th>Actions</th>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group">
                                                        <button type="button" id="action-approve" class="btn btn-success btn-block"><i class="glyphicon glyphicon-ok"></i> Approve</button>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button" id="action-reject" class="btn btn-danger btn-block"><i class="glyphicon glyphicon-remove"></i> Reject</button>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="new-authority">Forward Application to</label>
                                                        <select id="new-authority" class="form-control" required="required">
                                                            {% if user_type != 3 %}<option value="3">Dean</option>{% endif %}
                                                            {% if user_type != 4 %}<option value="4">Deputy Registrar</option>{% endif %}
                                                            {% if user_type != 5 %}<option value="5">Registrar</option>{% endif %}
                                                            {% if user_type != 6 %}<option value="6">Director</option>{% endif %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button" id="action-new-authority" class="btn btn-default btn-block"><i class="glyphicon glyphicon-share"></i>Forward Application</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                </tbody>
                            </table>

                            <h4>Detailed Log</h4>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Date/Time</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in application_log %}
                                    <tr>
                                        <td>{{log.time }} </td>
                                        <td>{{log.activity}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-15px"></div>
        <script src="{% static 'leave/js/bootstrap.min.js' %}" ></script>       

        <script>
            var csrfmiddlewaretoken = "{{csrf_token}}",
                id = {{application.pk}},
                urlAction = "{% url 'complete' %}",
                urlAuthority = "{% url 'change_authority' %}";

            $(function() {

                $('#action-approve').on('click', function(event){
                    event.preventDefault();

                    var editFromDate = $('#edit-from-date').val(),
                        editToDate = $('#edit-to-date').val(),
                        editNotes = $('#edit-notes').val();


                    $.ajax({
                        url: urlAction,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            id: id,
                            status: 3,
                            date_from : editFromDate,
                            date_to : editToDate,
                            notes : editNotes,
                        },
                        success: function(data, textStatus, xhr) {
                            alert('success');
                            location.reload();
                        },
                        error: function() {
                            alert('error');
                            location.reload();
                        }
                    });
                });

                $('#action-reject').on('click', function(event){
                    event.preventDefault();

                    var editFromDate = $('#edit-from-date').val(),
                        editToDate = $('#edit-to-date').val(),
                        editNotes = $('#edit-notes').val();


                    $.ajax({
                        url: urlAction,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            id: id,
                            status: 4,
                            date_from : editFromDate,
                            date_to : editToDate,
                            notes : editNotes,
                        },
                        success: function(data, textStatus, xhr) {
                            alert('success');
                            location.reload();
                        },
                        error: function() {
                            alert('error');
                            location.reload();
                        }
                    });
                });
    

                $('#action-new-authority').on('click', function(event){
                    event.preventDefault();

                    var editFromDate = $('#edit-from-date').val(),
                        editToDate = $('#edit-to-date').val(),
                        editNotes = $('#edit-notes').val(),
                        newAuthority = $('#new-authority').val();

                    $.ajax({
                        url: urlAction,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            id: id,
                            new_authority: newAuthority,
                            date_from : editFromDate,
                            date_to : editToDate,
                            notes : editNotes,
                        },
                        success: function(data, textStatus, xhr) {
                            alert('success');
                            location.reload();
                        },
                        error: function() {
                            alert('error');
                            location.reload();
                        }
                    });
                });

            });

            
        </script>
    </body>
</html>


