{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Application Details - LMS</title>

        <link href="{% static 'leave/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/chosen.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/datepicker3.css' %}" rel="stylesheet">

        <script src="{% static 'leave/js/jquery-1.11.1.min.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .space-15px{
                height: 15px;
                margin:0;
                padding: 0;
                border: 0;
            }
        </style>
    </head>
    <body>
    	<nav class="navbar navbar-default" role="navigation">
    	    <div class="navbar-header">
    	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    	            <span class="sr-only">Toggle navigation</span>
    	            <span class="icon-bar"></span>
    	            <span class="icon-bar"></span>
    	            <span class="icon-bar"></span>
    	        </button>
    	        <a class="navbar-brand" href="{% url 'index' %}">Leave Management System</a>
    	    </div>
    	
    	    <div class="collapse navbar-collapse navbar-ex1-collapse">
    	        <ul class="nav navbar-nav">
                    <li><a href="{% url 'dept' %}">Create</a></li>
                    <li><a href="{% url 'sent' %}">View</a></li>
                </ul>
    	        <ul class="nav navbar-nav navbar-right">
    	            <li class="dropdown">
    	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{dept}} Dept. <b class="caret"></b></a>
    	                <ul class="dropdown-menu">
    	                    <li class="dropdown-header">{{name}}</li>
    	                    <li><a href="{% url 'logt' %}"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
    	                </ul>
    	            </li>
    	        </ul>
    	    </div>
    	</nav>

        

        <div class="space-15px"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Application Details</h3>

                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'sent' %}">Applications</a>
                        </li>
                        <li class="active">Application Details</li>
                    </ol>

                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <th style="min-width:200px;">Employee Name</th>
                                        <td>{{application.employee.name}}</td>
                                    </tr>
                                     <tr>
                                        <th>Number of leaves left </th>
                                        <td>{{application.employee.leave_balance}}</td>
                                    </tr>
                                    <tr>
                                        <th>Leave type</th>
                                        <td>{{application.get_leave_type_display}}</td>
                                    </tr>
                                    <tr>
                                        <th>Date From </th>
                                        <td>{{application.date_from}}</td>
                                    </tr>
                                    <tr>
                                        <th>Date To</th>
                                        <td>{{application.date_to}}</td>

                                    </tr>
                                    <tr>
                                        <th>Number of days applying for</th>
                                        <td>{{days_count}}</td>

                                    </tr>
                                     

                                     <tr>
                                        <th> Attachments </th>
                                        <td>{% if application.attachment1 %}
                                                {{ application.attachment1.url }}
                                            {% endif %}
                                        </td>


                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <th style="min-width:200px;">Current Position</th>
                                        <td>{{application.get_current_position_display}}</td>
                                    </tr>
                                    <tr>
                                        <th>Generated time</th>
                                        <td>{{application.time_generated}}</td>
                                    </tr>
                                    <tr>
                                        <th>Apporoval time</th>
                                        <td>{{application.time_approved}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>{{application.get_status_display}}</td>
                                    </tr>
                                    <tr>
                                        <th>Reason</th>
                                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-15px"></div>

        <script src="{% static 'leave/js/bootstrap.min.js' %}" ></script>       
    </body>
</html>


