{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Application Details - LMS</title>

        <link href="{% static 'leave/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/datepicker3.css' %}" rel="stylesheet">
        <script src="{% static 'leave/js/jquery-1.11.1.min.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .space-15px{
                height: 15px;
                margin:0;
                padding: 0;
                border: 0;
            }
        </style>
    </head>
    <body>
        
        {% if application.status == 1  %}
        <!-- Delete Application Confirmation -->
        <div class="modal fade" id="delete-confirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Application?</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this application? This action cannot be reverted.
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'delete_application' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{application.pk}}">

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-ban-circle"></i> Close</button>
                            <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete Application</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    	<nav class="navbar navbar-default" role="navigation">
    	    <div class="navbar-header">
    	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    	            <span class="sr-only">Toggle navigation</span>
    	            <span class="icon-bar"></span>
    	            <span class="icon-bar"></span>
    	            <span class="icon-bar"></span>
    	        </button>
    	        <a class="navbar-brand" href="{% url 'index' %}">Leave Management System</a>
    	    </div>
    	
    	    <div class="collapse navbar-collapse navbar-ex1-collapse">
    	        <ul class="nav navbar-nav">
                    {% if user_type == 1 %}
                    <li><a href="{% url 'dept' %}">Create</a></li>
                    <li><a href="{% url 'sent' '' %}">Sent Applications</a></li>
                    {% else %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    {% endif %}
                </ul>
    	        <ul class="nav navbar-nav navbar-right">
    	            <li class="dropdown">
    	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user_display_name}}<b class="caret"></b></a> 
    	                <ul class="dropdown-menu">
    	                    <li class="dropdown-header">{{name}}</li>
    	                    <li><a href="{% url 'logt' %}"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
    	                </ul>
    	            </li>
    	        </ul>
    	    </div>
    	</nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                               <h3>Application #{{application.pk}} ({% if application.is_new %}
                                                       For New Leave
                                                      {% else %}
                                                        Cancel Approved Leave
                                                      {% endif %} )</h3>
                        </div>
                        {% if messages %}
                        <div class="col-md-6">
                            {% for message in messages %}
                            {% bootstrap_messages message %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Application Details</li>
                    </ol>

                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">Employee Details</th>
                                    </tr>
                                    <tr>
                                        <th style="width:200px;">Employee Code</th>
                                        <td>{{application.employee.code}}</td>
                                    </tr>
                                    <tr>
                                        <th>Employee Name</th>
                                        <td>{{application.employee.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Department</th>
                                        <td>{{application.employee.get_dept_display}}</td>
                                    </tr>
                                     <tr>
                                        <th>Earned leave balance</th>
                                        <td>{{application.employee.earned_balance}}</td>
                                    </tr>
                                    <tr>
                                        <th>Half Pay leave balance </th>
                                        <td>{{application.employee.hp_balance}}</td>
                                    </tr>
                                    <tr>
                                        <th>Employee Details</th>
                                        <td><a href="{% url 'employee' application.employee.pk %}">View Employee Details</a></td>
                                    </tr>
                                </tbody>
                            </table>   
                            <br>
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">Application Details</th>
                                    </tr>
                                    <tr>
                                        <th>Application Type</th>
                                        <td>{% if application.is_new %}
                                                New Application
                                            {% else %}
                                                Cancel request for<a href="{% url 'details' application.original.pk %}" target="_blank">
                                                Application #{{ application.original.pk }} </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Generated at</th>
                                        <td>{{application.time_generated}}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:200px;">Leave type</th>
                                        <td>{{application.get_leave_type_display}}</td>
                                    </tr>
                                    <tr>
                                        <th>From</th>
                                        <td>{{application.date_from}}</td>
                                    </tr>
                                    <tr>
                                        <th>To</th>
                                        <td>{{application.date_to}}</td>

                                    </tr>
                                    <tr>
                                        <th>Number of days</th>
                                        <td>{{days_count}}</td>

                                    </tr>
                                    <tr>
                                        <th>Reason</th>
                                        <td>{{ application.reason }}</td>
                                    </tr>
                                     <tr>
                                        <th> Attachments </th>
                                        <td>
                                        {% if application.attachment1 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 1</a><br>
                                        {% endif %}
                                        {% if application.attachment2 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 2</a><br>
                                        {% endif %}
                                        {% if application.attachment2 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 3</a><br>
                                        {% endif %}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">Application Status</th>
                                    </tr>                              
                                    {% if application.time_approved  %}
                                  
                                    <tr>
                                        <th>Processing completed at</th>
                                        <td>{{application.time_approved}}</td>
                                    </tr>
                                    {% if application.status == 3 %}
                                    <tr>
                                        <th>Approved Date From</th>
                                        <td>{{application.new_date_from}}</td>
                                    </tr>

                                    <tr>
                                        <th>Approved Date To</th>
                                        <td>{{application.new_date_to}}</td>
                                    </tr>
                                    {% endif %}
                                   
                                       
                                    {% endif %}
                                    <tr>
                                        <th>Status</th>
                                        <td>{{application.get_status_display|title}}</td>
                                    </tr>

                                    {% if user_type %}
                                    {% if user_type == 1 %} 
                                        {% if application.status == 1 %}
                                            <tr>
                                                <th>Action</th>
                                                <td>
                                                    <a class="btn btn-danger" data-toggle="modal" href='#delete-confirm'><i class="glyphicon glyphicon-remove"></i> Delete Application</a>
                                                </td>
                                            </tr>
                                        {% elif application.status == 3 and application.is_new %}
                                            <tr>
                                                <th>Action</th>
                                                <td>
                                                    <a class="btn btn-danger" data-toggle="modal" href=
                                                    "{% url 'cancel' application.pk %}"><i class="glyphicon glyphicon-remove"></i> Cancel Application</a>
                                                </td>
                                            </tr>
                                        {% endif %}




                                    {% elif user_type == 2 %}
                                    {% if application.status == 1  %}
                                    <tr>
                                        <th>Notes</th>
                                        <td>
                                            <div class="form-group">
                                                <label for="edit-notes">Add Notes</label>
                                                <textarea class="form-control" rows="3" id="edit-notes" placeholder="Add a note (optional)"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Actions</th>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    {% if application.status == 1  %}
                                                    <div class="form-group">
                                                        <button type="button" id="action-process" class="btn btn-default btn-block"><i class="glyphicon glyphicon-ok"></i> Start Processing</button>
                                                    </div>
                                                    {% endif %}
                                                    {% if application.status != 1  %}
                                                    <div class="form-group">
                                                        <a class="btn btn-default btn-block" href="{% url 'print' application.pk %}" target="_blank"><i class="glyphicon glyphicon-print"></i> Print Application
                                                        </a>
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% elif  user_type == 4 and application.status == 2 %}

                                    <tr>
                                        <th style="max-width:120px;">Edit Application before action (optional)</th>
                                    <td>
                                        {% if application.is_new %}
                                                
                                                

                                                    <div class="form-group">
                                                        <label for="edit-from-date">Change From Date</label>
                                                        <input type="text" class="form-control" id="edit-from-date" placeholder="Change From Date" value="{{ application.new_date_from|date:"m/d/Y" }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-to-date">Change To Date</label>
                                                        <input type="text" class="form-control" id="edit-to-date" placeholder="Change To Date" value="{{ application.new_date_to|date:"m/d/Y" }}">
                                                    </div>
                                        {% endif %}
                                            <div class="form-group">
                                                <label for="edit-notes">Add Notes</label>
                                                <textarea class="form-control" rows="3" id="edit-notes" placeholder="Add a note (optional)"></textarea>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>    
                                        <th>Actions</th>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group">
                                                        <button type="button" id="action-approve" class="btn btn-success btn-block"><i class="glyphicon glyphicon-ok"></i> Approve</button>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button" id="action-reject" class="btn btn-danger btn-block"><i class="glyphicon glyphicon-remove"></i> Reject</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                </tbody>
                            </table>

                            <h4>Detailed Log</h4>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Date/Time</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in application_log %}
                                    <tr>
                                        <td style="min-width:170px;">{{log.time }}</td>
                                        <td>
                                            {{log.activity}}
                                            {% if log.notes %}<br><strong>Note:</strong>{{ log.notes|linebreaks}}{% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-15px"></div>
        <script src="{% static 'leave/js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'leave/js/bootstrap-datepicker.js' %}" ></script>     

        <script>
            var csrfmiddlewaretoken = "{{csrf_token}}",
                id = {{application.pk}},
                urlAction = "{% url 'complete' %}",
                urlProcess = "{% url 'start_processing' %}";


            $(function() {

                $('#edit-from-date, #edit-to-date').attr('readonly', true).css({
                    backgroundColor: '#ffffff',
                    cursor: 'pointer',
                }).datepicker({
                    startDate: "today",
                    todayHighlight: true
                });


                $('#action-approve').on('click', function(event){
                    event.preventDefault();

                    var editFromDate = $('#edit-from-date').val(),
                        editToDate = $('#edit-to-date').val(),
                        editNotes = $('#edit-notes').val();


                    $.ajax({
                        url: urlAction,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            id: id,
                            status: 3,
                            date_from : editFromDate,
                            date_to : editToDate,
                            notes : editNotes,
                            csrfmiddlewaretoken : csrfmiddlewaretoken,
                        },
                        success: function(data, textStatus, xhr) {
                            location.reload(true);
                        },
                        error: function() {
                           alert("Error. Please report to developers.");
                           location.reload(true);
                        }
                    });
                });

                $('#action-reject').on('click', function(event){
                    event.preventDefault();

                    var editFromDate = $('#edit-from-date').val(),
                        editToDate = $('#edit-to-date').val(),
                        editNotes = $('#edit-notes').val();


                    $.ajax({
                        url: urlAction,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            id: id,
                            status: 4,
                            date_from : editFromDate,
                            date_to : editToDate,
                            notes : editNotes,
                            csrfmiddlewaretoken : csrfmiddlewaretoken,
                        },
                        success: function(data, textStatus, xhr) {
                            location.reload(true);
                        },
                        error: function() {
                            alert("Error. Please report to developers.");
                            location.reload(true);
                        }
                    });
                });


                $('#action-process').on('click', function(event){
                    event.preventDefault();

                    var editNotes = $('#edit-notes').val();


                    $.ajax({
                        url: urlProcess,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            id: id,
                            notes : editNotes,
                            csrfmiddlewaretoken : csrfmiddlewaretoken,
                        },
                        success: function(data, textStatus, xhr) {
                            location.reload(true);
                        },
                        error: function(data1, data2, data3) {
                            alert("Error. Please report to developers.");
                            location.reload(true);
                        }
                    });
                });


            });

            
        </script>
    </body>
</html>


