{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}LMS{% endblock title %}</title>

    <link href="{% static 'leave/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'leave/css/chosen.min.css' %}" rel="stylesheet">
    <link href="{% static 'leave/css/datepicker3.css' %}" rel="stylesheet">

    <script src="{% static 'leave/js/jquery-1.11.1.min.js' %}"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .space-15px{
        height: 15px;
        margin:0;
        padding: 0;
        border: 0;
    }
    </style>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Leave Management System</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            {% if user_type == 1 %}
                <li id="new_leave"><a href="{% url 'new_application' '' %}">New Application</a></li>
                <li id="credit"><a href="{% url 'new_application' 'credit' %}">Credit Leave</a></li>
                <li id="history"><a href="{% url 'sent' '' %}">Application History</a></li>
                <li id="select_employee"><a href="{% url 'select_employee' %}">Employee Search</a></li>
            {% elif user_type == 2 %}
                <li id="applications"><a href="{% url 'applications' %}">Applications</a></li>
                <li id="select_employee"><a href="{% url 'select_employee' %}">Employee Search</a></li>
            {% elif user_type == 4 %}
                <li id="applications"><a href="{% url 'applications' %}">Applications</a></li>
                 <li id="actions"><a href="{% url 'actions' %}">Admin Actions</a></li>
                <li id="select_employee"><a href="{% url 'select_employee' %}">Employee Search</a></li>
       
            {% elif user_type == 5 %}
                <li id="employees"><a href="{% url 'employees' %}">Credit/Debit Leave</a></li>
                <li id="action_history"><a href="{% url 'action_history' %}">Action History</a></li>
                <li id="add_employee"><a href="{% url 'new_employee' %}">Add Employee</a></li>
                <li id="select_employee"><a href="{% url 'select_employee' %}">Employee Search</a></li>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="user_guide"><a href="{% url 'user_guide' %}">User Guide</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.userprofile.get_user_type_display}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">{{user.first_name}}</li>
                        <li><a href="{% url 'logt' %}"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block container %}
        {% endblock container %}
    </div>
    <div class="space-15px"></div>
    <script src="{% static 'leave/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'leave/js/chosen.jquery.min.js' %}" ></script>
    <script src="{% static 'leave/js/bootstrap-datepicker.js' %}" ></script>
    {% block script %}
    {% endblock script %}
    
</body>
</html>


