{% extends "leave/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

       {% block container %}
            <div class="row">
                <div class="col-md-12">
                    <h3>Applications</h3>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Applications</li>
                    </ol>

                    <div class="pull-left">
                        {% if applications.has_other_pages %}
                        {% bootstrap_pagination applications %}
                        {% endif %}
                    </div>

                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-filter"></i> Filter: {% if status == 6  %}Show All{% elif status == 1 %}Pending{% elif status == 2 %}Processing{% elif status == 3 %}Approved{% elif status == 4 %}Rejected{% elif status == 5 %}Cancelled{% elif status == 7 %}Recent{% endif %}
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li {% if status == 0  %} class="active"{% endif %}><a href="{% url 'applications' 'all' %}">Show All</a></li>
                                <li class="divider"></li>
                                <li {% if status == 1  %} class="active"{% endif %}><a href="{% url 'applications' 'pending' %}">Pending</a></li>
                                <li {% if status == 2  %} class="active"{% endif %}><a href="{% url 'applications' 'processing' %}">Processing</a></li>
                                <li {% if status == 3  %} class="active"{% endif %}><a href="{% url 'applications' 'approved' %}">Approved</a></li>
                                <li {% if status == 4  %} class="active"{% endif %}><a href="{% url 'applications' 'rejected' %}">Rejected</a></li>
                                <li {% if status == 5  %} class="active"{% endif %}><a href="{% url 'applications' 'cancelled' %}">Cancelled</a></li>
                                 <li {% if status == 7  %} class="active"{% endif %}><a href="{% url 'applications' '' %}">Recent</a></li>
                            </ul>
                        </div>
                        <p>&nbsp;</p><br>
                    </div>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Time Applied</th>
                                <th>Employee Name</th>
                                <th>Application Type</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Application Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if applications %}
                            {% for application in applications %}
                            <tr>

                                <td>{{ forloop.counter0|add:applications.start_index}} </td>
                                <td>{{ application.time_generated }}</td>
                                <td>{{ application.employee.name }}</td>
                                <td>
                                    {{ application.toText }}
                                </td>
                                <td>{{ application.date_from }}</td>
                                <td>{{ application.date_to }}</td>
                                <td>{{ application.get_status_display|title }}</td>
                                <td><a class="btn btn-default btn-xs" href="{% url 'details' application.pk %}"><i class="glyphicon glyphicon-stats"></i> &nbsp;View Details</a></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr><td colspan="6">No applications yet.</td></tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>

     
           {% endblock container %}


           {% block script %}
           <script>
                $(function (){
                    $('#applications').addClass('active');
                });
           </script>
           {% endblock script %}