{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Department - LMS</title>

        <link href="{% static 'leave/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/chosen.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/datepicker3.css' %}" rel="stylesheet">

        <script src="{% static 'leave/js/jquery-1.11.1.min.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .space-15px{
                height: 15px;
                margin:0;
                padding: 0;
                border: 0;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Leave Management System</a>
            </div>
        
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'dept' %}">Create</a></li>
                    <li><a href="{% url 'sent' '' %}">Sent Applications</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user_type == 1 %}{{dept}}{% else %} {{user_display_name}} {% endif %}<b class="caret"></b></a> 
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{{name}}</li>
                            <li><a href="{% url 'logt' %}"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <h3>Create Application</h3>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Create Application</li>
                    </ol>

                    <p>Please fill the details for the application. You can add upto 3 attachments if required.</p>
                    <form role="form" action="{% url 'dept' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {% bootstrap_field form.employee %}
                                {% bootstrap_field form.leave_type %}
                                {% bootstrap_field form.reason %}
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.date_from %}
                                {% bootstrap_field form.date_to %}
                                {% bootstrap_field form.attachment1 %}
                                {% bootstrap_field form.attachment2 %}
                                {% bootstrap_field form.attachment3 %}

                                <br>
                                <button class="btn btn-default" type="button" id="add-attachment"><i class="glyphicon glyphicon-plus"></i> Add Attachment</button>

                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-chevron-right"></i> Create Application
                    </form>

                </div>
            </div>
        </div>


        <div class="space-15px"></div>
        <script>
            $(function() {

                $('#id_leave_type, #id_employee').chosen({
                    disable_search_threshold: 5,
                });

                $('#id_date_from, #id_date_to').attr('readonly', true).css({
                    backgroundColor: '#ffffff',
                    cursor: 'pointer',
                });

                $('#id_date_from, #id_date_to').datepicker({
                    startDate: "today",
                    todayHighlight: true
                });

                $('#id_attachment1, #id_attachment2, #id_attachment3').parents('.form-group').hide();

                $('#add-attachment').on('click', function(event){
                    event.preventDefault();

                    if(!$('#id_attachment1').is(':visible')){
                        $('#id_attachment1').parents('.form-group').show();
                    }else if(!$('#id_attachment2').is(':visible'))
                        $('#id_attachment2').parents('.form-group').show();
                    else{
                        $('#id_attachment3').parents('.form-group').show();
                        $('#add-attachment').hide();
                    }
                });

            });
        </script>
        <script src="{% static 'leave/js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'leave/js/chosen.jquery.min.js' %}" ></script>
        <script src="{% static 'leave/js/bootstrap-datepicker.js' %}" ></script>
        
    </body>
</html>


