{% extends "leave/base.html" %}

{% block container %}

<h2> Home Page for Deputy Registrar </h2>

	<div class="col-md-6">
		<div class="list-group">
		      <a href="{% url 'applications' %}" class="list-group-item">
		        <h4 class="list-group-item-heading">Applications</h4>
		        <p class="list-group-item-text">List of all leave applications </p>
		      </a>
		    
		      <a href="{% url 'select_employee' %}" class="list-group-item">
		        <h4 class="list-group-item-heading">Employee Search</h4>
		        <p class="list-group-item-text">View details of all the employees</p>
		      </a>
		       <a href="{% url 'actions' %}" class="list-group-item">
		        <h4 class="list-group-item-heading">Admin Actions</h4>
		        <p class="list-group-item-text">Approve/Reject Admin's actions</p>
		      </a>
		  
		</div>
	</div>

	<div class="col-md-5">
		<ul class="list-group">
			{% if processing_count %}
			<li class="list-group-item">
				<span class="badge">{{processing_count}}</span>
			 	<a href="{% url 'applications' %}" >{{processing_count}} leave application{{processing_count|pluralize}}</a> requires action
			</li>
			{% endif %}

			{% if pending_count %}
			<li class="list-group-item">
				<span class="badge">{{pending_count}}</span>
			 	<a href="{% url 'applications' 'pending' %}" >{{pending_count}} leave   application{{pending_count|pluralize}}</a> waiting at Est. Office.
			</li>
			{% endif %}

			{% if actions_count %}
			<li class="list-group-item">
				<span class="badge">{{actions_count}}</span>
			 	<a href="{% url 'actions' %}" >{{actions_count}} action{{actions_count|pluralize}}</a> by Data Admin needs approval.
			</li>
			{% endif %}
		</ul>
	</div>



{% endblock container %}

{% block script %}
<script>
	$('.list-group-item').on('mouseover', function( e ){
		$(this).parents().children().removeClass("active");
		$(this).addClass('active');
	});

	$('.list-group-item').on('mouseout', function( e ){
		$(this).parents().children().removeClass("active");
	});
</script>
{% endblock script %}
