{% extends "leave/base.html" %}

{% block container %}

 <h2> Home Page for Deputy Registrar </h2>

 {% if processing_count %}
 <a href="{% url 'applications' %}" >
		{{processing_count}} application{{processing_count|pluralize}}</a> requires action. <br>
 {% endif %}

 {% if pending_count %}
 <a href="{% url 'applications' 'pending' %}" > {{pending_count}}  application{{pending_count|pluralize}}</a> waiting for action from EST Office. <br>
 {% endif %}

 {% if actions_count %}
  <a href="{% url 'actions' %}" > {{actions_count}} action{{actions_count|pluralize}}</a> from Admin waiting for approval.
 {% endif %}
{% endblock container %}

