{% extends "leave/base.html" %}

{% block head %}

{% endblock %}
{% block container %}

 <h2> Data Admin </h2>
 <br>
<div class="row">
	<div class="col-md-6">
		<div class="list-group">
		      <a href="{% url 'employees' %}" class="list-group-item">
		        <h4 class="list-group-item-heading">Credit/Debit Leave</h4>
		        <p class="list-group-item-text">Easily credit/debit leaves for multiple employees.</p>
		      </a>
		      <a href="{% url 'action_history' %}" class="list-group-item">
		        <h4 class="list-group-item-heading">Action History</h4>
		        <p class="list-group-item-text">View details about previously generated actions</p>
		      </a>
		      <a href="{% url 'new_employee' %}" class="list-group-item">
		        <h4 class="list-group-item-heading">Add Employee</h4>
		        <p class="list-group-item-text">Add a new employee to the database</p>
		      </a>
		      <a href="{% url 'select_employee' %}" class="list-group-item">
		        <h4 class="list-group-item-heading">Employee Search</h4>
		        <p class="list-group-item-text">View details of a selected employee.</p>
		      </a>
		</div>
	</div>
</div>

{% endblock container %}

{% block script %}
<script>
	$('.list-group-item').on('mouseover', function( e ){
		$(this).parents().children().removeClass("active");
		$(this).addClass('active');
	});

	$('.list-group-item').on('mouseout', function( e ){
		$(this).parents().children().removeClass("active");
	});
</script>
{% endblock script %}


