{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Application Details - LMS</title>

        <link href="{% static 'leave/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/datepicker3.css' %}" rel="stylesheet">
        <script src="{% static 'leave/js/jquery-1.11.1.min.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .space-15px{
                height: 15px;
                margin:0;
                padding: 0;
                border: 0;
            }
        </style>
    </head>
    <body>        
        <div class="container">
        	<div class="space-15px"></div>
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">Employee Details</th>
                                    </tr>
                                    <tr>
                                        <th style="width:200px;">Employee Name</th>
                                        <td>{{application.employee.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Department</th>
                                        <td>{{application.employee.get_dept_display}}</td>
                                    </tr>
                                     <tr>
                                        <th>Earned leave balance</th>
                                        <td>{{application.employee.earned_balance}}</td>
                                    </tr>
                                    <tr>
                                        <th>Half Pay leave balance </th>
                                        <td>{{application.employee.hp_balance}}</td>
                                    </tr>
                                    <tr>
                                        <th>Employee Details</th>
                                        <td><a href="#">View Employee Details</a></td>
                                    </tr>
                                </tbody>
                            </table>   
                        </div>
                        <div class="col-md-6">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th colspan="2" class="text-center">Leave Details</th>
                                    </tr>
                                    <tr>
                                        <th>Generated at</th>
                                        <td>{{application.time_generated}}</td>
                                    </tr>
                                    <tr>
                                        <th style="width:200px;">Leave type</th>
                                        <td>{{application.get_leave_type_display}}</td>
                                    </tr>
                                    <tr>
                                        <th>From</th>
                                        <td>{{application.date_from}}</td>
                                    </tr>
                                    <tr>
                                        <th>To</th>
                                        <td>{{application.date_to}}</td>

                                    </tr>
                                    <tr>
                                        <th>Number of days</th>
                                        <td>{{days_count}}</td>

                                    </tr>
                                    <tr>
                                        <th>Reason</th>
                                        <td>{{ application.reason }}</td>
                                    </tr>
                                     <tr>
                                        <th> Attachments </th>
                                        <td>
                                        {% if application.attachment1 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 1</a><br>
                                        {% endif %}
                                        {% if application.attachment2 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 2</a><br>
                                        {% endif %}
                                        {% if application.attachment2 %}
                                                <a href="/{{application.attachment1.url }}"><i class="glyphicon glyphicon-file"></i> Attachment 3</a><br>
                                        {% endif %}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-15px"></div>
        <script>
        	$(function() {
        		// print();
        	});
        </script>
    </body>
</html>


