{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Application Details - LMS</title>
        <link href="{% static 'leave/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'leave/css/datepicker3.css' %}" rel="stylesheet">
        <script src="{% static 'leave/js/jquery-1.11.1.min.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
        body{
        font-size: 1.4em;
        }
        .space-15px{
        height: 15px;
        margin:0;
        padding: 0;
        border: 0;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="space-15px"></div>
            <h2>Application #{{application.pk}} ({{ application.toText }} )</h2>
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th colspan="2" class="text-center">Employee Details</th>
                            </tr>
                            <tr>
                                <th style="width:200px;">Employee Code</th>
                                <td>{{application.employee.code}}</td>
                            </tr>
                            <tr>
                                <th>Employee Name</th>
                                <td>{{application.employee.name}}</td>
                            </tr>
                            <tr>
                                <th>Department</th>
                                <td>{{application.employee.get_dept_display}}</td>
                            </tr>
                            <tr>
                                <th>Designation</th>
                                <td>{{application.employee.get_post_display}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{application.employee.email}}</td>
                            </tr>
                            <tr>
                                <th>Current EL Balance</th>
                                <td>{{application.employee.earned_balance}}</td>
                            </tr>
                            <tr>
                                <th>Current HPL Balance</th>
                                <td>{{application.employee.hp_balance}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th colspan="2" class="text-center">Application Details</th>
                            </tr>
                            <tr>
                                <th style="width:200px;">Generated on</th>
                                <td>{{application.time_generated}}</td>
                            </tr>
                            <tr>
                                <th>Application Type</th>
                                <td>{{ application.toText }} </td>
                              
   
                           </tr>
                           {% if not application.is_new %}
                                 <tr>
                                    <th>Original Application</th>
                                    <td>Application #{{ application.original.pk }}  </td>
                               
                                 </tr>
                            {% endif %}
                            <tr>
                                <th>Leave type</th>
                                <td>{{application.get_leave_type_display}}</td>
                            </tr>
                           {% if application.date_from %}
                                    <tr>
                                        <th>From</th>
                                        <td>{{application.date_from}}</td>
                                    </tr>
                            {% endif %}

                             {% if application.date_to %}
                                    <tr>
                                        <th>To</th>
                                        <td>{{application.date_to}}</td>
                                    </tr>
                            {% endif %}
                            <tr>
                                <th>Number of days</th>
                                <td>{{days_count}}</td>
                            </tr>
                            <tr>
                                <th>Purpose</th>
                                <td>{{ application.reason }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th colspan="2">Employee History (Last 5 transactions)</th>
                            </tr>
                            {% for entry in log %}
                                <tr>
                                    <td><i>{{entry.time}}</i></td>
                                  
                                    <td>{{entry.toText}}
                                            ( {% if entry.is_admin %}
                                                    Admin
                                              {% else %}
                                                  {{entry.application.toText}} - Application #{{entry.application.pk}}
                                              {% endif %}
                                            )
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <h3>Notes / Comments <small>(for office use)</small></h3>
                </div>
            </div>
        </div>
        <div class="space-15px"></div>
        <script>
            $(function() {
                // print();
            });
        </script>
    </body>
</html>