{% extends "leave/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block container %}

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h3>Select an employee</h3>
                    <form action="{% url 'select_employee' %}" method="POST" >
                    {% csrf_token %}
                    {% bootstrap_field form.employee %}
                    <button type="submit" class="btn  btn-lg">Details </button>
                    </form>
                  

                </div>
            </div>
{% endblock container %}

{% block script %}
<script>  
$('#id_employee').chosen({
                    disable_search_threshold: 5,
                });
$(function(){
    $('#select_employee').addClass('active')
});
</script>  
{% endblock script %}