{% extends "leave/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}LMS - Employee Search {% endblock title %}
{% block container %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3>Select an Employee</h3>
            <form action="{% url 'select_employee' %}" method="POST" >
                {% csrf_token %}
                {% bootstrap_field form.employee %}
                <br><button type="submit" class="btn btn-info btn-lg btn-block"><i class="glyphicon glyphicon-stats"></i> {% if user_type == 5 %} View/Edit Employee {% else %} View Details {% endif %} </button>
            </form>
            
        </div>
    </div>
{% endblock container %}

{% block script %}
<script>  
$('#id_employee').chosen({
                    disable_search_threshold: 5,
                });
$(function(){
    $('#select_employee').addClass('active')
});
</script>  
{% endblock script %}