{% extends "leave/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
       
{% block head %}
<style>
	body{
		font-size: 1.8em;
		line-height: 30px;
	}
</style>
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-md-12">
    	<h1>User Guide</h1>


    	{% if user_type == 1 %}

    	Home
    	  |--New Application
    	  |--Credit Leave
    	  |--Application History
    	  |   |--Application Details
    	  |   |--Cancel Pending Application
    	  |	  |--Cancel Approved Leave
    	  |--Employee Search


		<h3>New Application</h3>
		Creates a new leave application for an employee in the department.
		<ol>
			<li>Select an Employee from the list.</li>

			<li>Select the Leave type. (Earned leave, half pay leave, commuted leave) The available leave balance will be displayed.</li>

			<li>The Purpose field can contain details of the requested leave, and any other information.</li>

			<li>Click inside the date field to show the datepicker. Choose the from and to dates.
				<br>
			To apply leave for a single day, select the same date for both fields. Note that you cannot manually enter the dates (this is to prevent accidental errors)</li>

			<li>To attach any additional files that are required for approval (like medical certificates), click the Add Attachment button. Select the file you would like to add by clicking on Browse. Only PDF files can be uploaded. TODO: Check file format (PDF only)
			<br>
			You can add upto 3 files in an application.</li>

			<li>Cross check everything to make sure they are correct. Click on Create Application to send it to the establishment.</li>

		</ol>


    		Credit Leave
    			This page allows you to create a request to credit Earned Leave for an employee.

    			The steps are similar to that of New Application. Instead of dates, choose the Number of Days to credit.

    		Application History
    			This page shows the details of all the applications sent from the department.

    			Using the filters on the top-right, you can choose to filter the list by the status of application. (Pending, Processing, Approved, Rejected or Cancelled)

    			If there are more than 10 applications, the list is paginated, with 10 applications on each page.

    			To view the details of an application, click the View Details button.


    		Application Details
    			Displays all the details of the selected application.

    			Application Details: Shows the details of the selected application. If it is a "Cancel Approved Leave" request, the link to the Original Application is also shown.

    			Employee Details: The Employee Details section shows the relevant details of the employee for the application. Note that the leave balance displayed is the current balance, and may differ from the balance when the application was created.

    			Application Status: This section shows the current status  (Pending, Processing, Approved, Rejected or Cancelled) and related details. 

    			The Detailed Log displays a timeline of events for the application.

    		Cancel Pending Application
    			An application that has a status "Pending" can be cancelled directly from the Application Details page using the Cancel Application button.

    			Once the Establishment Office marks an application as "Processing", you will have to wait until it is approved.

    		Cancel Approved Leave
    			To cancel a leave that has been approved, click on the Cancel Approved Leave button. A new application will be created, and will be sent to the Establishment for approval.

    		Employee Search
    			View details of all the employees in the department/section. Select the employee from the list using Name/Code and click on the View Details button.

    			The details of the employee and leave balance are displayed. The log shows all the credit/debit details of the employee available with the system.
    	

    	{% elif user_type == 2 %}
    	<!-- Est. Office -->

    	Est. Office
    		|--Applications
    		|	|--Application Details
    		|	|--Print Application Page
    		|--Employee Search



    	Applications
    		Displays the Pending leave applications that require action by the Establishment Office. To show other applications (Processing, Approved, Rejected, Cancelled), use the Filter menu on the top-right.

    		To view details of an application, click on the View Details button.

            Applications can be of three types:
                1. New Application - These are generated by the Section Head for new leave requests
                2. Cancel Application - An employee requests to cancel a previously approved leave
                3. Credit Leave Application - A request from the Section Head to credit leaves when required.
            Note that bulk credit of leaves can be done by the Data Admin.

    	Application Details Page
    		Displays all the details of the selected application. An application contains the following information:

    		Application Details: The details of the selected application. If it is a "Cancel Approved Leave" request, the link to the Original Application is also shown.

    		Employee Details: The Employee Details section shows the relevant details of the employee for the application. Note that the leave balance displayed is the current balance, and may differ from the balance when the application was created.

    		Application Status: This section shows the current status (Pending, Processing, Approved, Rejected, Cancelled) and related details.

    		The Detailed Log displays a timeline of events for the application.

    		You can mark a Pending application as Processing using the "Start Processing" button. This changes the application status to "Processing". The application is to be printed using the "Print Application" button, and the hard copy forwarded to the Deputy Registrar after verification.

    		An application with the status "Processing" can be Approved/Rejected by the Deputy Registrar.

    	Print Application Page
    		Click on the Print Application button to open a print friendly view of the application, along with last 5 transactions for the employee. The Print Application button shows up after clicking the Start Processing button.

    		The printed application may be forwarded to the Deputy Registrar for approval.


    	Employee Search
    		View details of all the employees in the department/section. Select the employee from the list using Name/Code and click on the View Details button.

    		The details of the employee and leave balance are displayed. The log shows all the credit/debit details of the employee available with the system.


    	{% elif user_type == 4 %}

    	Est. Deputy Registrar
    		|--Applications
    		|	|--Application Details
    		|	|--Print Application Page
            |--Employee Search
    		|--Admin Actions


    	Applications
    		Displays the leave applications submitted to the Deputy Registrar for approval. The application status will be "Processing". To show other applications (Pending, Approved, Rejected, Cancelled), use the Filter menu on the top-right.

    		To view details of an application, click on the View Details button.

            Applications can be of three types:
                1. New Application - These are generated by the Section Head for new leave requests
                2. Cancel Application - An employee requests to cancel a previously approved leave
                3. Credit Leave Application - A request from the Section Head to credit leaves when required.
            Note that bulk credit of leaves can be done by the Data Admin.

    	Application Details Page
    	Displays all the details of the selected application. An application contains the following information:

    		Application Details: The details of the selected application. If it is a "Cancel Approved Leave" request, the link to the Original Application is also shown.

    		Employee Details: The Employee Details section shows the relevant details of the employee for the application. Note that the leave balance displayed is the current balance, and may differ from the balance when the application was created.

    		Application Status: This section shows the current status (Pending, Processing, Approved, Rejected, Cancelled) and related details.

    		The Detailed Log displays a timeline of events for the application.

    		When a new application is created, the status is Pending. After the application is marked as "Processing" by the Establishment Office, the Deputy Registrar may Approve or Reject it.
    		
    		Applications submitted by a Department/Section must be opened by the Establishment Office and marked as "Processing" before you can approve it.

    	Print Application Page
    		Click on the Print Application button to open a print friendly view of the application, along with last 5 transactions for the employee.


    	Employee Search
    		View details of all the employees in the department/section. Select the employee from the list using Name/Code and click on the View Details button.

    		The details of the employee and leave balance are displayed. The log shows all the credit/debit details of the employee available with the system.


        Admin Actions
            This page allows you to Approve/Reject 

    	TODO: Details about Admin Action
    	Debit/Credit field in Admin Actions Detail view.

    	{% elif user_type == 5%}


    	Est. Admin
    		|--Credit/Debit
    		|--Action History
    		|--Add Employee
    		|--Employee Search



    	#TODODODODO

    	{% endif %}


    </div>
</div>

{% endblock container %}

{% block script %}
<script>
    $(function(){
        $('#user_guide').addClass('active');
    });
</script>
{% endblock script %}