{% extends "leave/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
       
{% block head %}
<style>
	body{
		
		line-height: 30px;
	}
</style>
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-md-12">
    	<h1>User Guide</h1>


    	{% if user_type == 1 %}
        <h2>Section Head</h2>

        <div class="row">
            <div class="col-md-3">
                <div class="well">
                   
                    <ol>
                      <a href="#new_application"> <li>New Application</li> </a>
                      <a href="#credit_leave"> <li>Credit Leave</li> </a>
                      <a href="#application_history"> <li>Application History</li> </a>
                      <a href="#details"> <li>Application Details</li> </a>
                      <a href="#cancel_pending"> <li>Cancel Pending Leave</li> </a>
                      <a href="#cancel_approved"> <li>Cancel Approved Leave</li> </a>
                      <a href="#search"> <li>Employee Search</li> </a>
            
                    </ol>
                </div>
            </div>
        </div>

    

		<h3 id="new_application">New Application</h3>
		Creates a new leave application for an employee in the department.
		<ul>
			<li>Select an Employee from the list.</li>

			<li>Select the Leave type. (Earned leave, half pay leave, commuted leave) The available leave balance will be displayed.</li>

			<li>The Purpose field can contain details of the requested leave, and any other information.</li>

			<li>Click inside the date field to show the datepicker. Choose the from and to dates.
				<br>
			To apply leave for a single day, select the same date for both fields. Note that you cannot manually enter the dates (this is to prevent accidental errors)</li>

			<li>To attach any additional files that are required for approval (like medical certificates), click the Add Attachment button.<br> Select the file you would like to add by clicking on Browse. Only PDF files (Size less than 2.5 MB) can be uploaded.

			<br>
			You can add upto 3 files in an application.</li>

			<li>Cross check everything to make sure they are correct. Click on Create Application to send it to the establishment.</li>

		</ul>

        <h3 id="credit_leave">Credit Leave </h3>
        <ul>
    			This page allows you to create a request to credit Earned Leave for an employee.

    			The steps are similar to that of New Application.<br> Instead of dates, choose the Number of Days to credit.
        </ul>
        <h3 id="application_history">Application History </h3>
            <ul>
            <li>
    			This page shows the details of all the applications sent from the department. </li>
                <li>
    		  Using the filters on the top-right, you can choose to filter the list by the status of application. (Pending, Processing, Approved, Rejected or Cancelled)
                </li>
                <li>
    			If there are more than 10 applications, the list is paginated, with 10 applications on each page. </li>
                <li>
    			To view the details of an application, click the View Details button. </li>
            </ul>
            <h3 id="details">Application Details </h3>
            <ul>
                <li>
    			Displays all the details of the selected application. </li>

                <li>
              Application Details :<br>

    			Shows the details of the selected application. If it is a "Cancel Approved Leave" request, the link to the Original Application is also shown.
                </li>

                <li>
           
    			Employee Details:<br> The Employee Details section shows the relevant details of the employee for the application. <br> Note that the leave balance displayed is the current balance, and may differ from the balance when the application was created.
                </li>
                <li>
    		Application Status:<br> This section shows the current status  (Pending, Processing, Approved, Rejected or Cancelled) and related details. 
                </li>
                <li>
    			The Detailed Log displays a timeline of events for the application.
                </li>
                </ul>
            <h3 id="cancel_pending">Cancel Pending Application</h3>
            <ul>
                <li>
    			An application that has a status "Pending" can be cancelled directly from the Application Details page using the Cancel Application button.
                </li>
                <li>
    			Once the Establishment Office marks an application as "Processing", you will have to wait until it is approved.
                </li>
            </ul>
           

    		<h3 id="cancel_approved">Cancel Approved Leave</h3>
            <ul>
              
    			To cancel a leave that has been approved, click on the Cancel Approved Leave button. A new application will be created, and will be sent to the Establishment for approval.
           

            </ul>
            <h3 id="search">Employee Search</h3>
            <ul>
                <li>
    			View details of all the employees in the department/section. Select the employee from the list using Name/Code and click on the View Details button.
                </li>

                <li>
    			The details of the employee and leave balance are displayed. The log shows all the credit/debit details of the employee available with the system.
                </li>
            </ul>

    	

    	{% elif user_type == 2 %}
        <h2>Est. Office</h2>

        <div class="row">
            <div class="col-md-3">
                <div class="well">
                   
                    <ol>
                      <a href="#all_applications"> <li>Applications</li> </a>
                      <a href="#details"> <li>Application Details</li> </a>
                      <a href="#print"> <li>Print Application</li> </a>
                      <a href="#search"> <li>Employee Search</li> </a>
             
            
                    </ol>
                </div>
            </div>
        </div>

    


        <h3 id="all_applications">Applications </h3>
        <ul>
            <li>
    		Displays the Pending leave applications that require action by the Establishment Office. To show other applications (Processing, Approved, Rejected, Cancelled), use the Filter menu on the top-right.
            </li>

            <li>
    		To view details of an application, click on the View Details button.
              </li>
   
        </ul>
        
            
    	 <h3 id="details">Application Details Page</h3>
        <ul>
        <li>
                Displays all the details of the selected application. An application contains the following information:
         <ul>
            
            <li>
            Application Details:<br> The details of the selected application. If it is a "Cancel Approved Leave" request, the link to the Original Application is also shown.
            </li>
            <li>
            Employee Details:<br> The Employee Details section shows the relevant details of the employee for the application. Note that the leave balance displayed is the current balance, and may differ from the balance when the application was created.
            </li>
            <li>
            Application Status:<br>This section shows the current status (Pending, Processing, Approved, Rejected, Cancelled) and related details.
            </li>
            <li>

    		The Detailed Log displays a timeline of events for the application.
            </li>
         </ul>
         </li>
         <li>
    		You can mark a Pending application as Processing using the "Start Processing" button. This changes the application status to "Processing". <br>The application is to be printed using the "Print Application" button, and the hard copy forwarded to the Deputy Registrar after verification.
        </li>
         <li>
    		An application with the status "Processing" can be Approved/Rejected by the Deputy Registrar.
         </li>
         </ul>
        <h3 id="print">Print Application Page</h3>
        <ul>
            <li>
    		Click on the Print Application button to open a print friendly view of the application, along with last 5 transactions for the employee.<br> The Print Application button shows up after clicking the Start Processing button.
            </li>

            <li>
    		The printed application may be forwarded to the Deputy Registrar for approval.

            </li>
          
        </ul>

    	<h3 id="search">Employee Search</h3>
        <ul>
            <li>

    		View details of all the employees in the department/section. Select the employee from the list using Name/Code and click on the View Details button.
            </li>
            <li>
    		The details of the employee and leave balance are displayed. The log shows all the credit/debit details of the employee available with the system.
            </li>
        </ul>



    	{% elif user_type == 4 %}

        <h2>Deputy Registrar</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="well">
                   
                    <ol>
                      <a href="#all_applications"> <li>Applications</li> </a>
                      <a href="#details"> <li>Application Details</li> </a>
                      <a href="#print"> <li>Print Application</li> </a>
                      <a href="#search"> <li>Employee Search</li> </a>
                       <a href="#admin_actions"> <li>Admin Actions</li> </a>
             
            
                    </ol>
                </div>
            </div>
        </div>

        <h3 id="all_applications">Applications</h3>
        <ul>
            <li>
    		Displays the leave applications submitted to the Deputy Registrar for approval. The application status will be "Processing". 
            <br>To show other applications (Pending, Approved, Rejected, Cancelled), use the Filter menu on the top-right.
            </li>
            <li>
    		To view details of an application, click on the View Details button.

            </li>
            <li>
                Applications can be of three types:
            <ol>
                <li>
                New Application - These are generated by the Section Head for new leave requests
                </li>
                <li>
                 Cancel Application - An employee requests to cancel a previously approved leave
                </li>
                <li>
               Credit Leave Application - A request from the Section Head to credit leaves when required.<br>
                Note that bulk credit of leaves can be done by the Data Admin.
                </li>
            </ol>

            </li>
        </ul>
        <h3 id="details">Application Details Page</h3>
        <ul>

    	Displays all the details of the selected application. An application contains the following information:
             <li>
    		Application Details:<br> The details of the selected application. If it is a "Cancel Approved Leave" request, the link to the Original Application is also shown.
            </li>
            <li>
    		Employee Details: <br>The Employee Details section shows the relevant details of the employee for the application.<br> Note that the leave balance displayed is the current balance, and may differ from the balance when the application was created.
            </li>
            <li>
    		Application Status:<br> This section shows the current status (Pending, Processing, Approved, Rejected, Cancelled) and related details
            </li>
            <li>
    		The Detailed Log displays a timeline of events for the application.
            </li>
            <li>
    		When a new application is created, the status is Pending. After the application is marked as "Processing" by the Establishment Office, the Deputy Registrar may Approve or Reject it.
            </li>
    		<li>
    		Applications submitted by a Department/Section must be opened by the Establishment Office and marked as "Processing" before you can approve it.
            </li>
    	
        </ul>
        <h3 id="print">Print Application Page</h3>
		Click on the Print Application button to open a print friendly view of the application, along with last 5 transactions for the employee.

        <h3 id="search">Employee Search</h3>
        <ul>
            <li>

    		View details of all the employees in the department/section. Select the employee from the list using Name/Code and click on the View Details button.
            </li>
            <li>
    		The details of the employee and leave balance are displayed. The log shows all the credit/debit details of the employee available with the system.
            </li>
        </ul>

        <h3 id="admin_actions">Admin Actions</h3>

        This page allows you to Approve/Reject changes made to leave balance of employee(s) by the Data Admin.
        <ul>
            <li>The default page shows a list of actions that require action.
                <ul>
                    <li>The actions in Requires Actions are the ones that have not been approved/rejected. To view details, click the View Details button.</li>
                    <li>To view previous actions that have bene approved, click on the Approved button on the top-right.</li>
                    <li>To view the rejected actions, click the Rejected button</li>
                </ul>
            </li>
            <li>Show Details page
                <ul>
                    <li>Shows the details of the changes made by the Data Admin in the selected action.</li>
                    <li>Generated time shows the exact time that the action was created.</li>
                    <li>Number of employees is the total number of employees affected by this action.</li>
                    <li>The Note is added by the Data Admin and should include the purpose for the change.</li>
                    <li>The table below shows the list of the affected employees. The Half Pay Leave Change and Earned Leave Change columns shows the change in number of days of the particular leave. Debits are indicated by a negative sign in the column.</li>
                    <li>If the status is Pending, you can Approve or Reject the action using the corresponding buttons along with an optional note.</li>
                    <li>If the status is Approved or Rejected, the reviewed time and the note (if any) is shown.</li>
                </ul>
            </li>
        </ul>

        TODO: code to Employee Code
        TODO: Add Debit/Credit Column
        TODO: Add NOTE FROM DEPUTY REGISTRAR COL.
    	TODO: Details about Admin Action
        TODO: Hide Designation.
    	Debit/Credit field in Admin Actions Detail view.
    	{% elif user_type == 5%}

        <h2>Data Admin</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="well">
                    <ol>
                      <a href="#credit_debit"> <li>Credit/Debit Leave</li> </a>
                      <a href="#actions_history"> <li>Action History</li> </a>
                      <a href="#add_new_employee"> <li>Add Employee</li> </a>
                      <a href="#edit_employee"> <li>Edit Employee</li> </a>
                      <a href="#search"> <li>Employee Search</li> </a>
                    </ol>
                </div>
            </div>
        </div>

        <h3 id="credit_debit">Credit/Debit Leave</h3>
        This page enables you to Credit or Debit leave for one or multiple employees in one go.

        <ul>
            <li>First, click on the check box in the row for an employee that you would like to credit/debit leave for.</li>
            <li>Similarly, select any number of employees as per requirement. To select all of them, click the Select All button</li>
            <li>Once you verify that the selected employees are correct, click on the Credit/Debit Leave button</li>
            <li>Select the leave type (Earned Leave or Half Pay Leave). One Commuted Leave is equal to two Half Pay Leave.</li>
            <li>Under action type, select if you'd like to Credit or Debit.</li>
            <li>Enter the number of days of leave you'd like to change.</li>
            <li>Under notes, explain what change you're making. This will make the action easier to review.</li>
            <li>Once you're sure everything is correct, click on the Confirm Action button</li>
            <li>If you're debiting leaves, make sure each selected employee has atleast the number of leaves you're trying to debit.</li>
            <li>To edit the details of an employee other than the leave counts, click on the Edit button</li>
        </ul>

        <h3 id="actions_history">Action History</h3>
       
        <ul>
            <li> Shows all the actions that has been previously generated. You can choose to show only the ones that are Pending, Approved or Rejected.</li>
            <li>To view details of a particular action, click on the View Details button</li>
            <li>Show Details page
                <ul>
                    <li>Shows the details of the changes made in the selected action.</li>
                    <li>Generated time shows the exact time that the action was created.</li>
                    <li>Number of employees is the total number of employees affected by this action.</li>
                    <li>The Note includes the purpose for the change.</li>
                    <li>The table below shows the list of the affected employees. The Half Pay Leave Change and Earned Leave Change columns shows the change in number of days of the particular leave. Debits are indicated by a negative sign in the column.</li>
                    <li>If the status is Pending, the action has not yet been reviewed by the Deputy Registrar.</li>
                    <li>If the status is Approved or Rejected, the reviewed time and the note (if any) is shown.</li>
                </ul>
            </li>
        </ul>

        <h3 id="add_new_employee">Add Employee</h3>
        To add new employees, use the Add Employee page.

        <ul>
            <li>The Employee Code is the unique code assigned by the administration.</li>
            <li>In Name, enter the full name of the employee.</li>
            <li>Enter the correct email address in the Email field. The system automatically sends email to employees when applications are created, approved or rejected.</li>
            <li>Select the correct department from the departments list.</li>
            <li>Once you make sure all the data entered is correct, click the Create New Employee button.</li>
        </ul>

        <h3 id="edit_employee">Edit Employee</h3>
        Edit the basic details of an employee. Select the employee from the Credit/Debit page, or using the Employee Search page.

        <ul>
            <li>The Employee Code is the unique code assigned by the administration.</li>
            <li>The name should contain the full name of the employee.</li>
            <li>Enter the correct email address in the Email field. The system automatically sends email to employees when applications are created, approved or rejected.</li>
            <li>Select the correct department from the departments list.</li>
            <li>If an employee is no longer employed in the institute, uncheck the Active Employee checkbox.</li>
            <li>To confirm the changes, click the Update button.</li>
        </ul>

        <h3 id="search">Employee Search</h3>

        <ul>
            <li>View details of all the employees in the department/section. Select the employee from the list using Name/Code and click on the View Details button.</li>
            <li>The details of the employee and leave balance are displayed. The log shows all the credit/debit details of the employee available with the system.</li>
            <li>To edit the details of an employee, click the Edit Details button</li>
        </ul>
    	{% endif %}


    </div>
</div>

{% endblock container %}

{% block script %}
<script>
    $(function(){
        $('#user_guide').addClass('active');
    });
</script>
{% endblock script %}